[tool.black]
line-length = 88
exclude = '''
(
  /(
      \.venv
    | \.git
    | __pycache__
    | build
    | dist
    | node_modules
    | login-service/node_modules
  )/
)
'''

[tool.flake8]
max-line-length = 120
extend-ignore = "E203"
exclude = [
    ".venv",
    "__pycache__",
    "build",
    "dist",
    "node_modules",
    ".git",
    "instance"
]