

.botao {
  display: inline-flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /* Aparência */
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  /* Efeitinho de entrada gay, se quiser tirar ta suave */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

/* Efeito ao passar o mouse */
.botao:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}


/* --- VARIAÇÕES DO BOTÃO --- */

/* Variação 1: Botão Preto */
.botao.preto {
  background-color: #000000;
}

/* Variação 2: Botão com Gradiente */
.botao.cor_da_UnB {
  background: linear-gradient(90deg, #006633 0%, #003366 100%);
}