/* app/globals.css */

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Garante que o corpo use 100% da largura/altura da tela */
html, body {
  height: 100%;
}

/* O conteúdo principal simplesmente segue o Header */
.content {
  /* Adicionamos um padding básico para o conteúdo não colar nas bordas */
  padding: 2rem; 
}
